.auth {
  padding: 28px 0;
}

.authContainer {
  max-width: 644px;
}

.authNavList {
  display: flex;
  justify-content: space-between;
}

.active {
  border-bottom: 1px solid var(--color-scheme-1-border);
  width: 167px;
  height: 1px;
  pointer-events: none;
  /* Не клікається */
  cursor: default;
}

/* form */
.mainContent {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
}

.formText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 32px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
}

.formGroup label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 8px;
}

.input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--opacity-neutral-darkest-60);
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 8px;
  padding: 8px;
  max-width: 100%;
  height: 40px;
  background: var(--opacity-transparent);
  margin-bottom: 24px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.submitButton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  background: var(--color-royal-blue);
  color: #fff;
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding-block: 6px;
  padding-inline: 12px;
  width: 100%;
  height: 44px;
  margin-bottom: 100px;
}

.submitButton:hover {
  color: var(--color-scheme-2-text);
  background: var(--color-royal-blue-lighter);
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-red);
}

.topRow {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #000000;
}

.logoText {
  font-family: 'Sora', system-ui, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

/*layout  */
.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 82px;
}

.footer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
}