/* routesStory.client.module.css */

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;

  line-height: 35px;
  letter-spacing: -0.01em;
  color: var(--color-scheme-2-text);

  margin-top: 32px;
  margin-bottom: 32px;
}

.data {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;

  line-height: 24px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}

.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 24px;

  color: var(--color-scheme-2-text);
}

.country {
  width: 76px;
  height: 26px;
  padding: 0 10px;
  background: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--opacity-transparent);
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-neutral-darkest);

  margin-bottom: 16px;
}

.image {
  width: 100%;
  max-height: 223px;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 16px;
  border-radius: 24px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 24px; /* закруглення */
  overflow: hidden; /* щоб внутрішнє <img> теж було закруглене */
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.article {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 24px;
  line-height: 150%;
  height: auto;
  color: var(--color-scheme-2-text);

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-top: 64px;
  margin-bottom: 24px;
}

.savedBlock {
  border: 0px solid var(--color-scheme-1-border);
  border-radius: 24px;
  padding: 32px 20px;
  width: 100%;
  max-width: 335px;
  min-width: 0;
  background: var(--color-scheme-1-foreground);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
}

.savedTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  text-align: left;
  margin: 0;
}

.savedText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  text-align: left;
  margin: 0;
}

.saveButton {
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding: 6px 12px;
  max-width: 295px;
  width: 100%;
  height: 48px;
  margin: 0 auto;
  background: var(--color-royal-blue);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);

  cursor: pointer;
  margin: 0 auto;
}

.stories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;

  line-height: 34px;

  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  margin-top: 96px;
}
.leftBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ==== RESPONSIVE ==== */

/* Tablet / small desktop */
@media (min-width: 768px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;

    width: 100%;
  }
  .leftBlock {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  .infoBlock {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    gap: 48px;
  }

  .savedBlock {
    padding: 32px;
    width: 100%;
    width: 418px;
    height: 217px;
    min-width: 0;
  }

  .saveButton {
    border-radius: 8px;
    height: 48px;
    width: 100%;
    max-width: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .stories {
    font-size: 44px;
  }
}

/* Desktop (1280px and up) */
@media (min-width: 1280px) {
  .title {
    font-size: 56px;
    margin-top: 48px;
  }

  .label {
    font-weight: 700;
    font-size: 18px;
    margin-left: 8px;
  }

  .value {
    font-weight: 400;
    font-size: 18px;
  }

  .country {
    font-size: 16px;
  }

  .article {
    font-size: 18px;
    width: 865px;
    max-width: 100%;
    margin-top: 0;
  }

  .articleBlock {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 96px;
  }
  .stories {
    font-size: 52px;
  }
}
