.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style: none;
}

.avatar {
  display: flex;
  gap: 16px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: color 0.2s;
}

.nav a:hover,
.nav a:focus {
  color: #1a5cff;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}
.logoutButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.publishBtn,
.loginBtn,
.registerBtn,
.logoutBtn {
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}

.publishBtn {
  background-color: #1a5cff;
  color: white;
}

.publishBtn:hover,
.publishBtn:focus {
  background-color: #0046d6;
}

.loginBtn {
  background-color: #e8e8e8;
}

.loginBtn:hover,
.loginBtn:focus {
  background-color: #d0d0d0;
}

.registerBtn {
  background-color: #1a5cff;
  color: white;
}

.registerBtn:hover,
.registerBtn:focus {
  background-color: #0046d6;
}
