/* COMMON */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

 /* MOB */

.section {
  padding: 64px 0;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
  align-self: flex-start;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

  .list > * {
    width: 100%;
  }
  
.button {
display: none;
}

.empty {
  margin-top: 20px;
  color: #666;
  font-size: 16px;
  text-align: center;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
} 

/* TAB */

@media screen and (min-width: 768px) {
  .section {
  padding: 64px 0;
}

.title {
  font-size: 44px;
}

  .list > * {
    width: calc((100% - 24px) / 2);
  }

.button {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);

  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  min-width: 147px;
  min-height: 48px;
  background-color: var(--color-royal-blue);
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* margin-top: 24px; */
  margin: 0 auto;
}

.button:hover {
  background-color: var(--color-royal-blue-lighter);
}

.button:disabled {
  background-color: var(--color-royal-blue);
  opacity: 0.3;
  cursor: not-allowed;
}
  }

  /* DESK */

@media screen and (min-width: 1158px) {
 .section {
  padding: 72px 0;
}

.title {
  font-size: 52px;
  margin-bottom: 40px;
}

.list > * {
  width: calc((100% - 48px) / 3);
} 

.button {
  min-width: 173px;
  /* margin-top: 48px; */
}
  }