/* components/PopularSection/PopularSection.module.css */

.section {
  padding: 0;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
  align-self: flex-start;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.listItem {
  display: block;
  width: 100%;
}


.button {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  min-width: 147px;
  max-width: fit-content;
  height: 48px;
  background-color: var(--color-royal-blue);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  margin-top: 48px;
  text-align: center;
  padding: 12px 8px;
  box-sizing: border-box;
}

.empty {
  margin-top: 20px;
  color: #666;
  font-size: 16px;
  text-align: center;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {

  .title {
    font-size: 44px;
  }

  .list {
    justify-content: flex-start;
  }

  .listItem {
    width: calc((100% - 24px) / 2);
    display: block;
  }

  .listItem:nth-child(4) {
    display: block;
  }


  .button:hover {
    background-color: var(--color-royal-blue-lighter);
  }

  .button:disabled {
    background-color: var(--color-royal-blue);
    opacity: 0.3;
    cursor: not-allowed;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 52px;
    margin-bottom: 40px;
  }

  .list {
    gap: 24px 24px;
  }

  .listItem {
    width: calc((100% - 48px) / 3);
  }

  .listItem:nth-child(4) {
    display: none;
  }


  .button {
    min-width: 173px;
    margin-top: 72px;
  }
}