/*components/StoriesList.module.css*/
/* stories-list-grid styles  */

.stories-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

@media (min-width: 768px) {
    .stories-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1440px) {
    .stories-list-grid {
        grid-template-columns: repeat(3, 1fr);
        /* 3 слупкі па 3 карткі */
    }
}