/* components/layout/Container/Container.module.css */

/*
  Mobile First (from 320px up to 374px)
  Layout is fluid (stretches). Padding is 20px.
*/
.container {
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    max-width: 374px;
}

/*
  Mobile Breakpoint for FIXING width: min-width: 375px
  The layout becomes "adaptive" (fixed width) from this point.
*/
@media (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

/*
  Tablet Breakpoint: min-width: 768px
*/
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

/*
  Desktop Breakpoint: min-width: 1440px
*/
@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-left: 64px;
        padding-right: 64px;
    }
}