.container {
  box-sizing: border-box;
  max-width: 375px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.containerTravellerInfo {
  padding-top: 32px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 199px;
  height: 199px;
  margin: 0 auto 24px;
  display: block;
}

.name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-2-text);
  text-align: center;
  margin: 0;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .containerTravellerInfo {
    display: flex;
    align-items: center;
    padding-top: 32px;
    gap: 24px;
  }

  .avatar {
  margin: 0;
}

  .name {
    text-align: left;
  }

  .description {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .containerTravellerInfo {
    padding-top: 48px;
  }

  .name {
    font-size: 32px;
  }

  .description {
    font-size: 18px;
    width: 367px;
  }
}
