.profile {
  padding: 32px 0 64px;
}
.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin: 32px 0 40px;
}
@media (min-width: 768px) {
  .title {
    font-size: 44px;
  }
}

@media (min-width: 1400px) {
  .title {
    font-size: 52px;
  }
}
