
 .backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

/* MOBILE (база) */
.card {
  width: 100%;
  max-width: 343px;
  padding: 24px 20px;
  border-radius: 24px;
  background: #f7f9ff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
   position: relative;               
}

.title {
  font-family: 'Sora', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000000;
}

.desc {
  font-family: 'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 8px;
}

.primary,
.ghost {
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  border-radius: 8px;
  font-family: 'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}


.primary {
  
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.05);
  color: #000000;
}


.ghost {
    
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.05);
  color: #000000;
}

.primary:focus-visible,
.ghost:focus-visible {
  outline: 2px solid #4169e1;
  outline-offset: 2px;
}

.primary:hover {
    color: #ffffff;
    border: 1px solid #4169e1;
    background: #4169e1;
}

.ghost:hover {
    color: #ffffff;
    background: #4169e1;
  
}
/* .confirm{}
.error{ outline: 2px solid #F04438; }
.success{ outline: 2px solid #16A34A; } */
.close{
 position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  border: none;
  background:none;
  border-radius: 8px;
  font-size: 22px;
  line-height: 1;
  cursor: pointer;
}


/* TABLET ≥ 768px */
@media (min-width: 768px) {
  .backdrop {
    padding: 32px 24px;
  }

  .card {
    max-width: 600px;
    padding: 40px 32px;
    gap: 24px;
  }

  .title {
    font-size: 32px;
  }

  .desc {
    font-size: 18px;
  }

  .actions {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .primary,
  .ghost {
    width: 50%;
    font-size: 18px;
  }
}

/* DESKTOP ≥ 1200px (близько до Figma 768x400) */
@media (min-width: 1200px) {
  .backdrop {
    padding: 64px 0;
  }

  .card {
    max-width: 768px;
    padding: 64px;
    gap: 32px;
  }

  .title {
    font-size: 48px; /* Display/lg із макету */
  }

  .desc {
    font-size: 20px;
  }

  .actions {
    max-width: 430px; /* як у Figma */
    margin-top: 8px;
  }

  .primary,
  .ghost {
    height: 48px;
  }
}
