.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0 12px;
}

.img {
  border-radius: 50%;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-2-text);
  margin-bottom: 8px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-2-text);
}

@media screen and (min-width: 768px) {
  .userProfile {
    flex-direction: row;
    justify-content: start;
    padding: 0;
  }

  .img {
    border-radius: 50%;
    margin-bottom: 0;
  }

  .title {
    margin-bottom: 0;
    text-align: start;
  }
  .text {
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    max-width: 367px;
  }
}
