/* components/Travellers/TravellersList/TravellersList.module.css */

.section {
    padding-top: 48px;
    padding-bottom: 40px;
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 24px;
    font-size: 36px;

    @media (min-width: 1440px) {
        font-size: 56px;
    }
}

.list {
    display: grid;
    list-style: none;
    padding: 0;
    gap: 24px;
    margin: 0 auto 24px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: center;
    max-width: 100%;
}

@media (min-width: 1440px) {
    .list {
        grid-template-columns: repeat(4, 310px);
        max-width: 1312px;
    }
}

.loadMoreButton {
    display: block;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
    background: var(--color-royal-blue);
    border: 1px solid var(--color-royal-blue);
    border-radius: 8px;
    padding: 6px 12px;
    height: 48px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.loadMoreButton:hover:not(:disabled),
.loadMoreButton:focus:not(:disabled) {
    background: var(--color-royal-blue-lighter);
    border: 1px solid var(--color-royal-blue);
    color: var(--color-neutral-darkest);

}

.loadMoreButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.error,
.empty {
    text-align: center;
    color: var(--color-red);
    font-size: 1.2rem;
    padding: 20px;
}