.messageBox {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 20px;
  max-width: 468px;
  background: var(--color-scheme-2-foreground);
}

.message {
  font-family: var(--second-family);
  text-align: start;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 32px;
}

.button {
  background: var(--color-royal-blue);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.button:hover {
  color: var(--color-scheme-2-text);
  border: 1px solid var(--color-royal-blue);
  background-color: var(--color-royal-blue-lighter);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
  background-color: #004085;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}

@media (min-width: 768px) {
  .messageBox {
    padding: 40px 32px;
  }

  .button {
    width: 165px;
  }
}

@media (min-width: 140px) {
  .message {
    font-size: 26px;
  }
  .button {
    font-size: 18px;
  }
}
