/* hero */
.hero {
  display: block;
  padding: 196px 20px 331px;
  background-image: url('/home/back-main-mob-1x.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.heroContainer {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.heroTitle {
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--color-white);
}
.heroText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  margin-bottom: 32px;
}
.heroBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  background: var(--color-royal-blue);
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  width: 100%;
  height: 39px;
}
@media (min-width: 375px) {
  .heroContainer {
    max-width: 375px;
  }
}

/* about */
.about {
  padding: 64px 0;
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}
.aboutTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-2-text);
}
.aboutText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}
.aboutList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.aboutItemContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.aboutItemIcon {
  width: 48px;
  height: 48px;
}
.aboutItemTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-2-text);
}
.aboutItemText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}

/* Join */
.containerSec {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}
.joinUs {
  display: block;
  background-image: url('/home/back-join-us-mob-1x.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 24px;
  padding: 20px;
  max-height: 262px;
  padding: 20px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  margin-bottom: 24px;
}

.btn {
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding-block: 6px;
  padding-inline: 12px;
  width: 100%;
  height: 48px;
  background: var(--color-royal-blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
}

@media (min-resolution: 192dpi) {
  .joinUs {
    background-image: url('/home/back-join-us-mob-2x.webp');
  }
  .hero {
    background-image: url('/home/back-main-mob-2x.webp');
  }
}

@media screen and (min-width: 768px) {
  /* hero */
  .hero {
    padding: 244px 32px 117px;
    background-image: url('/home/back-main-tab-1x.webp');
  }
  .heroContainer {
    max-width: 768px;
  }
  .heroTitle {
    font-size: 48px;
    width: 512px;
  }

  .heroBtn {
    max-width: 115px;
  }
  /* about */
  .aboutContainer {
    flex-direction: row;
  }
  .aboutTitle {
    font-size: 44px;
    max-width: 340px;
  }
  .aboutText {
    max-width: 340px;
  }
  .aboutList {
    flex-direction: row;
  }

  /* join */
  .containerSec {
    padding: 32px 0;
  }
  .joinUs {
    background-image: url('/home/back-join-us-tab-1x.webp');
    padding: 32px 116px 32px 32px;
  }
  .title {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .text {
    margin-bottom: 16px;
  }
  .btn {
    width: 153px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .joinUs {
    background-image: url('/home/back-join-us-tab-2x.webp');
  }
  .hero {
    background-image: url('/home/back-main-tab-2x.webp');
  }
}

@media screen and (min-width: 1440px) {
  /* hero */
  .hero {
    background-image: url('/home/back-main-desk-1x.webp');
  }
  .heroContainer {
    max-width: 1440px;
  }
  .hero {
    padding: 244px 64px 347px;
  }
  .heroTitle {
    font-size: 56px;
  }
  .heroText {
    font-size: 20px;
    max-width: 759px;
  }
  .heroBtn {
    font-size: 18px;
    width: 126px;
  }
  /* about */
  .about {
    padding: 72px 0;
  }

  .aboutTitle {
    font-size: 52px;
    max-width: 755px;
  }
  .aboutText {
    font-size: 20px;
    max-width: 533px;
  }
  .aboutList {
    gap: 48px;
  }
  .aboutItemContainer {
    gap: 24px;
  }

  .aboutItemTitle {
    font-size: 32px;
  }
  .aboutItemText {
    font-size: 18px;
  }

  /* join */
  .joinUs {
    background-image: url('/home/back-join-us-desk-1x.webp');
    padding: 70px 690px 70px 64px;
    max-height: 436px;
  }
  .btn {
    width: 169px;
  }
  .title {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .text {
    font-size: 20px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .joinUs {
    background-image: url('/home/back-join-us-desk-2x.webp');
  }
  .hero {
    background-image: url('/home/back-main-desk-2x.webp');
  }
}
