/* components/TravellersStories/TravellersStories.module.css */

.stories {
    /* Замяняе .section */
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Для цэнтравання кнопкі */
}

/* Стылі для кнопкі "Переглянути ще" */
.loadMoreWrap {
    display: flex;
    justify-content: center;
    /* Аналаг margin-top: 48px/72px */
    margin-top: 48px;
}

.loadMoreBtn {
    /* Стылі з .button */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);

    border: 1px solid var(--color-royal-blue);
    border-radius: 8px;
    min-width: 147px;
    min-height: 48px;
    background-color: var(--color-royal-blue);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loadMoreBtn:hover:not(:disabled) {
    background-color: var(--color-royal-blue-lighter);
}

.loadMoreBtn:disabled {
    background-color: var(--color-royal-blue);
    opacity: 0.3;
    cursor: not-allowed;
}

/* Стылі для Loading (Loader) */
.storiesLoader {
    /* Пазбягаем дублявання Loader, калі ён ужо ёсць у кнопцы */
    /* Калі Loader выкарыстоўваецца асобна ўнізе: */
    margin-top: 20px;
    text-align: center;
}

/* TAB */
@media screen and (min-width: 768px) {
    .stories {
        padding: 64px 0;
    }

    .loadMoreWrap {
        margin-top: 48px;
    }
}

/* DESK */
@media screen and (min-width: 1440px) {
    .stories {
        padding: 72px 0;
    }

    .loadMoreBtn {
        min-width: 173px;
    }

    .loadMoreWrap {
        margin-top: 72px;
    }
}